.idea/
.DS_Store
code/templates/__pycache__/
code/intent_parsing/__pycache__/
code/__pycache__/
code/intent_parsing/wandb/
code/intent_parsing/saved_models/
code/intent_parsing/results/
code/intent_parsing/sclurm_outs/
models/